<html>
<head>
<title>success</title>
</head>
<body>
  <a href ="/logout">Logout</a>
  <h1>Welcome, {{ alias }} !</h1>

  <div class = "pokedme">
  		<h3> {{userpokes.count}} poked you! </h3>
  		<h4>List of people who have poked you</h4>
  		{% for user in users %}
  			{{user.poker.name}}
  		<br>
  		{%endfor%}
  </div>



  <table>
    <h3>People you may want to poke: </h3>
    <tr>
        <th>Name</th>
        <th>Alias</th>
        <th>Email Address</th>
        <th>Poke History</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.alias }}</td>
        <td>{{ user.email }}</td>
    		<td>{{userpokes.all.count}} pokes</td>
        <td>
            <form action = "/pokes/{{ user.id }}" method = 'POST' name ="submitpoke">
              {% csrf_token %}
                <input type = "submit" value = "Poke!" />
            </form>
        </td>
    </tr>
    {%endfor%}
  </table>


  {{request.session.userID}}
</body>
</html>
